@import 'warpper.css';
@import 'home.css';
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* overflow: hidden; */
  position: fixed;
  font-family: 'Josefin Sans', sans-serif;
  background-color: black;
  color: white;
  transition: all 0.3s ease-in-out;
}

/* loading the page */
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  transition: all 0.5s ease-out;
}
.loader {
  width: 100%;
  height: 100%;
  border: 5px solid burlywood;
  background-color: transparent;
  animation: rota 2s ease-in-out 0.8s infinite;
}
@keyframes rota {
  from {
    transform: rotateX(45deg);
  }
  to {
    transform: rotateX(365deg);
  }
}
.loader-fatima {
  position: absolute;
  left: 30px;
  top: 30px;
  font-weight: bolder;
  transition: all 0.5s ease-out;
  animation: opa 2.5s linear 0.2s infinite;
}
.vertical-text {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-size: 7rem;
  opacity: 0.4;
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-fill-color: transparent;
}
.t-right {
  position: absolute;
  right: 20%;
}
.connect-with-me {
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: center;
  width: 100%;
  list-style-type: none;
  margin: 40% auto 0px;
}
.connect-with-me li {
  margin: 40px;
}
.bg-frame {
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 20%;
  right: 80px;
  border: 20px solid burlywood;
  transform: rotate(45deg);
  transition: all 0.6s ease-out;
}
.bg-frame--big {
  width: 700px;
  height: 700px;
  display: flex;
  align-items: center;
  position: absolute;
  top: -20%;
  left: -10px;
  border: 40px solid burlywood;
  transform: rotate(-40deg);
  opacity: 0.3;
}
h1 {
  max-width: auto;
  font-size: 5rem;
  /* right: 4% ; */
}
.counter {
  position: absolute;
  bottom: 20px;
  right: 100px;
  font-size: 3rem;
  font-family: 'Abril Fatface';
  z-index: 200;
}
.text-heading {
  width: 300px;
}
.fatima {
  text-transform: capitalize;
  position: absolute;
  /* top : 30% ; */
  right: 400px;
  transition: all 0.5s ease-in-out;
  width: 200px;
  margin-top: 200px;
}
.section-header {
  position: absolute;
  top: 40%;
  margin: 0px 0% 0 8px;
  width: 400px;
}
.right {
  right: 4%;
}
/* fullPage designing */
#parallax {
  width: 100%;
}
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background-color: white;
}
.fp-controlArrow.fp-next {
  right: 50px;
  border-width: 15.5px 0 15.5px 15px;
}
.fp-controlArrow.fp-prev {
  left: 50px;
  border-width: 15.5px 15px 15.5px 0px;
}
.fp-slidesNav.fp-bottom {
  display: flex;
  justify-content: center;
}

.slide {
  padding: 0px 4%;
}

/* project slid */
.section__header {
  position: absolute;
  z-index: -1;
  opacity: 0.2;
  font-size: 6rem;
}
.slid__img-picker {
  position: absolute;
  top: 18%;
  width: 600px;
  height: 400px;
  object-fit: cover;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.slide-1 {
  right: 77%;
}
.slide-2 {
  right: 52%;
}
.slide-3 {
  right: 27%;
}
.slid__img-picker img {
  width: 100%;
  height: auto;
}

.slid__heading-picker {
  text-transform: capitalize;
  position: absolute;
  z-index: 2 !important;
  width: 30%;
  top: 40%;
}
.slid__details {
  position: absolute;
  top: 56%;
  font-size: 1.4rem;
  margin: 10px 0px;
}
.btn {
  padding: 10px;
  border: 2px solid burlywood;
  border-radius: 0px;
  color: white;
  background-color: transparent;
  margin: 10px 0px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.btn:hover {
  background-color: burlywood;
}
.hidden-swepper {
  height: 100vh;
  width: 110%;
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translateX(-100%);
  background-color: burlywood;
}
.about-me {
  position: absolute;
  top: 45%;
  left: 30%;
  transform: translate(-45%, -30%);
  letter-spacing: 4px;
  margin: 30px 30px;
  width: 40%;
}
.clip {
  background-color: burlywood;
  width: 100%;
  min-height: 100vh;
  clip-path: circle(0%);
  /* transform: rotate(45deg); */
  /* transform: scale(0); */
  transition: all 0.3s ease-in;
  z-index: 2000;
}
/* .zing {
  z-index: 200000;
  -webkit-text-stroke-color: gray;
} */
/* response */
@media screen and (max-width: 900px) {
  h1 {
    width: auto;
    font-size: 3.4rem;
  }
  .fatima {
    position: absolute;
    left: 50px;
    right: 10px;
  }
  .bg-frame {
    width: 250px;
    height: 250px;
    border-width: 10px;
  }
  .slide {
    padding: 0px 2%;
  }
  .slid__img-picker {
    width: 230px;
    height: 230px;
  }
  .slid__img-picker {
    position: absolute;
    top: 23%;
    width: 300px;
    height: 300px;
  }
  .slid__heading-picker {
    top: 60%;
  }
  .slid__details {
    top: 70%;
  }
  .slide-1 {
    right: 80%;
  }
  .slide-2 {
    right: 56%;
  }
  .slide-3 {
    right: 31%;
  }
  .connect-with-me {
    margin: 80% 10px 0px;
  }
  .about-me {
    width: 100%;
    margin: 20px;
    top: 52%;
    left: 0%;
    transform: translate(0%, 0%);
    letter-spacing: 3px;
  }
}
@media screen and (max-width: 510px) {
  h1 {
    width: 5px;
    font-size: 2rem;
  }
  .fatima {
    position: absolute;
    left: 50px;
    right: 0px;
    top: 100px;
  }
  .section-header {
    top: 30%;
    margin: 0px 10%;
    width: 200px;
  }
  .bg-frame {
    width: 150px;
    height: 150px;
    border-width: 10px;
  }
  .vertical-text {
    display: none;
  }
  .connect-with-me {
    bottom: 10%;
  }
}
