/* Clip-path transition */
.clip-leave {
  opacity: 1;
}
.clip-leave-active {
  transition: opacity 0.5s ease-in;
}
.clip-leave-to {
  opacity: 0;
}
.clip-enter {
  clip-path: circle(0%);
}
.clip-enter-active {
  transition: all 0.75s ease-in-out;
  position: absolute;
  top: 0;
  z-index: 2;
}
.clip-enter-to {
  clip-path: circle(95%);
}
/* this is design of the page */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}
a {
  text-decoration: none;
  color: white;
}
body,
html {
  overflow-x: hidden;
}
.warpper-project {
  background-color: black;
  width: 100%;
  color: white;
  min-height: 100vh;
  padding: 50px;
  background-color: radial-gradient(gray, black);
}
.project-title {
  font-size: 9rem;
}
.project-type {
  font-size: 1.5rem;
  margin: 10px;
  width: 110px;
  padding-bottom: 10px;
  border-bottom: 5px solid burlywood;
}
.project-descrept {
  width: 40%;
  font-size: 1.3rem;
  margin: 90px 50px 0px;
  padding: 10px;
}
.highlight {
  background-color: #fff2ac;
  background-image: linear-gradient(to right, #ffe359 0%, #fff2ac 100%);
}
.project-content {
  display: flex;
  flex-direction: row-reverse;
}
.project-show {
  width: 60%;
  height: 100%;
  flex: 50%;
}
.project-show svg {
  z-index: 20;
  width: 90%;
}
#scene {
  width: 100%;
  height: auto;
  margin: 0px auto 30% auto;
  /* position: relative; */
  /* overflow: hidden; */
}
.device-show {
  position: absolute;
  right: -100px;
}
.image-container {
  position: relative;
  overflow: hidden;
}
.image-container::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  background: burlywood;
}
.project-img {
  width: 90%;
  height: auto;
  z-index: 1000;
  opacity: 0;
  border: 1px solid burlywood;
  transform: all 0.5s ease;
}

.img {
  position: absolute;
}
.img-brach {
  width: 500px;
  right: 30%;
  top: 20%;
  /* z-index: 1001; */
}
.img-stain {
  top: 300%;
  width: 500px;
  right: 1%;
  /* z-index: 1001; */
}
.img-star {
  width: 100px;
  right: 10px;
  top: 30%;
}
.project-descrept {
  width: 30%;
  flex: 30%;
  word-spacing: 7px;
}
.bg-frame {
  width: 550px;
  height: 550px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 20%;
  right: 100px;
  border: 20px solid burlywood;
  transform: rotate(45deg);
  transition: all 0.6s ease-out;
}
.project-descript-links {
  margin: 30px 10px;
}
.project-descript-links span:hover {
  color: burlywood;
}
.slash {
  color: burlywood;
  padding: 20px;
  font-size: 2rem;
}
.navbar {
  width: 100%;
  margin: 0px;
  padding: 0px;
  margin-bottom: 50px;
}
.nav {
  display: flex;
  flex-direction: row;
}
.contect-me {
  position: fixed;
  display: flex;
  writing-mode: vertical-rl;
  position: absolute;
  left: 0px;
  top: 80%;
  /* transform: translateY(-80%); */
}
.contect-me > * {
  margin: 50px 40px 50px 10px;
  /* writing-mode: vertical-rl; */
}
#menu {
  text-align: center;
  cursor: pointer;
  padding: 0px 20px 10px;
  border-bottom: 2px solid burlywood;
  transform: all 0.3 ease;
}
#menu:hover {
  border-bottom: 2px solid black;
}
.menu-transition {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  min-height: 100%;
  margin: 0px;
  padding: 0px;
  z-index: 19999;
  overflow: hidden;
  transform: translateY(-110%);
  transition: all 0.4s ease-in-out;
}
#cover {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  min-height: 100%;
  z-index: 20000;
  overflow: hidden;
  transform: translateY(-110%);
  background-color: burlywood;
  transition: all 0.8s ease-in-out;
}
.upper {
  position: absolute;
  width: 100%;
  min-height: 100%;
  background-color: black;
  overflow: hidden;
  overflow-y: noscroll;
}
#project-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  align-items: center;
  align-self: center;
  justify-content: center;
}
#project-menu > a {
  font-size: 2rem;
  z-index: 2000;
  text-orientation: mixed;
  margin-left: 200px;
  font-size: 4rem;
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 1px;
  cursor: pointer;
  -webkit-text-fill-color: transparent;
  transition: all 0.8s ease;
}
#project-menu div:hover {
  -webkit-text-fill-color: white;
  transition: all 0.8s ease-in;
}
.cutting-frame {
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 30%;
  left: 40%;
  z-index: 111;
  border: 20px solid burlywood;
  transform: rotate(280deg);
  transition: all 0.6s ease-out;
}
.cutting-frame::before {
  content: '';
  position: absolute;
  width: 900px;
  height: 900px;
  left: -8px;
  top: -7px;
  border-radius: 50%;
  background-color: black;
}
.back-from-menu {
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 50px;
  cursor: pointer;
}
@media all and (max-width: 900px) {
  .project-content {
    display: flex;
    flex-direction: column;
  }
  .project-show {
    width: 100%;
    flex: 100%;
  }
  .project-descrept {
    width: 100%;
    flex: 100%;
    margin: 40px 10px 0px;
  }
  .bg-frame {
    width: 450px;
    height: 450px;
    border-width: 20px;
  }
  .project-descrept {
    width: 100%;
    margin: 10px 10px 0px;
    padding: 10px;
  }
  .contect-me {
    top: 50%;
  }
  .img-brach {
    width: 400px;
  }
  .project-img {
    width: 100%;
  }
}
@media all and (max-width: 555px) {
  .contect-me {
    top: 70%;
  }
  .project-title {
    font-size: 3.2rem;
  }
  .bg-frame {
    width: 350px;
    height: 350px;
    border-width: 17px;
  }
}
